<!DOCTYPE html>
<link rel="stylesheet" href="main.css">
<html>
<head>
<title>eShop</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="script.js"></script>
</head>
<body>
    <div id="root">
    <div class="container">
<header class="header">
    <h1 class="title">eShop</h1>
    <div class="search">
       <input type="text " class="goods-search" v-model="search"/>
       <button class="search-button cart-button2" type="button" v-on:click="filterItems">Искать</button>
    </div>
<button v-on:click="setVisionCart()" class="cart-button" type="button">Корзина</button>
</header>
<main>
    <component-a
     title="titlea1"
     v-on:my-event="testEvents"
     ></component-a>
     <component-a
     title="titlea2"
     v-on:my-event="testEvents"
     ></component-a>
<div class="goods-list">
    <div class="goods-item" v-for ="item in filteredItems">
          <h3 class="goods-heading">{{item.product_name}}</h3>
            <p>{{item.price}}</p>
            </div>
</div>

<div class="fixed-area" v-if="isVisibleCart">
    <div class="basket-card">
        <div class="basket-card-header">
            <h1 class="title-basket-card">Корзина</h1>
            <div>{{calculatePrice}}</div>
            <div v-on:click="setVisionCart()" class="close-basket-card"></div>
        </div>
    </div>
</div>
</main>

</div>
</body>
</html>