*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    padding:0;
    background: beige;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.container{
    max-width: 1200px;
    margin: auto;
    
}
.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.goods-search{
    height: 30px;
}
.cart-button{
    font-size: 26px;
    font-weight: 700;
    border: 0;
    background: #0099FF;
    color:#fff;
    width: 180px;
    height: 60px;
}
.cart-button2{
    font-size: 26px;
    font-weight: 700;
    border: 0;
    background: #0099FF;
    color:#fff;
    width: 180px;
    height: 35px;
}
.search{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.goods-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.goods-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 90px;
    width: 380px;
    height: 400px;
}
.goods-heading{
    margin-bottom: 20px;
}
.fixed-area{
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000061;
}
.basket-card{
    width: 80%;
    height: 80%;
   
    background-color: #fff;
    display: grid;
    grid-template-rows: max-content auto;
}
.basket-card-header{
    position: relative;
}

.close-basket-card{
    background-image:url('http://cdn.onlinewebfonts.com/svg/img_229857.png') ;
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    right: 40px;
    cursor: pointer;
}